# Container control
MOUNT_POSTGRES_DATABASE=true
MOUNT_CORE_SERVICE=false
MOUNT_PGADMIN=true

# Postgres Configuration
POSTGRES_DATABASE=local
POSTGRES_USER=panchapp_user
POSTGRES_PASSWORD=panchapp_password
POSTGRES_PORT=5432

# Core Service configuration
CORE_NODE_ENV=development
CORE_PORT=3000


# pgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@panchapp.com
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=8080

# Repository Configuration
# URL for the core NestJS application repository
CORE_REPO_URL=https://github.com/your-org/core.nest-js.git
